<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{site.baseurl}}/css/fonts.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/modern-screen.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="Aquent Gymnasium on GitHub">
  <meta name="author" content="Aquent Gymnasium">
</head>
<body>

    <header id="brand">
      <div class="structure">

      <div class="logo">
        <a href="{{ site.baseurl }}/" title="Home"><img alt="Aquent Gymnasium (The Gymnasium)" srcset="{{ site.baseurl }}/img/gymnasium-logo-ko.svg" src="img/gymnasium-logo-ko.png" role="heading"></a>
      </div>

      </div>
    </header>
